<% title t("menu.meetups")%>

<table>
  <thead>
    <tr>
      <th><%=t("meetup.name")%></th>
      <th><%=t("meetup.date")%></th>
      <th><%=t("meetup.time")%></th>
      <th><%=t("meetup.location")%></th>
      <th><%=t("meetup.attendees_short")%></th>
      <th><%=t("meetup.actions")%></th>
    </tr>
  </thead>
  <tbody>
    <%@meetups.each do |meetup|%>
      <tr>
        <td><%=link_to meetup.name, meetup_url(meetup.id)%></td>
        <td><%=l(meetup.happening_at, :format => :just_date)%></td>
        <td><%=l(meetup.happening_at, :format => :just_time)%></td>
        <td><%=meetup.location%></td>
        <td><%=meetup.num_of_attendees%></td>
        <td style="text-align:center;width:290px;">
          <span class="a">
            <%unless meetup.user_attends?(current_user)%>
              <%=link_to t("meetup.attend"), meetup_attend_path(meetup.id)%>
            <%else%>
              <%=link_to t("meetup.not_attend"), meetup_not_attend_path(meetup.id)%>
            <%end%>
          </span>
          <span class="a">
            <%=link_to t("talk.submit"), new_meetup_presentation_path(meetup.id)%>
          </span>
          <%if current_user.eql?(meetup.creator)%>
            <span class="a">
              <%=link_to t('meetup.delete'), meetup_path(meetup), :method => :delete%>
            </span>
            <span class="a">
              <%=link_to t('meetup.edit'), edit_meetup_path(meetup)%>
            </span>
          <%end%>
        </td>
      </tr>
    <%end%>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6"><span class="a"><%=link_to t("meetup.create"), new_meetup_path%></span></td>
    </tr>
  </tfoot>
</table>
