<% title "#{@meetup.name}"%>

<div class="event_details">
  <h2><%=t "details"%></h2>
  <ul class="details">
    <li>
      <%=label :location, t("location")%>
      <span id="location" class="v">
        <%=@meetup.location%>
        <small>
          (<%=link_to t("Map"), "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=#{@meetup.location}&ie=UTF8&hq=&ht=h&z=16&iwloc=A", :target => :blank %>)</small>
      </span>
    </li>
    <li>
      <%=label :description, t("description")%>
      <span id="description" class="v"><%=@meetup.description%></span>
    </li>
    <li>
      <%=label :happend_at, t("talk.date")%>
      <span id="happening_at" class="v">
        <%=l(@meetup.happening_at, :format => :just_date) %> at <%=l(@meetup.happening_at, :format => :just_time)%>
        (<%=distance_of_time_in_words(Time.now, @meetup.happening_at)%>)
      </span>
    </li>
  </ul>
  <br/>
  <h2><%=t("meetup.presentations")%></h2>
  <ul class="presentations">
    <%@meetup.presentations.each do |presentation|%>
      <li>
        <%=image_tag presentation.user.account.gravatar, :size => "32x32"%>
        <strong><%=link_to presentation.name, meetup_presentation_path(presentation.id)%></strong>
                <br/>
        <%=link_to presentation.user.account.name, presentation.user.account.url%> 
        &lt;<%=presentation.user.email%>&gt;
        <%=link_to image_tag("vote_like.gif"), meetup_presentation_vote_path(@meetup,presentation) if user_signed_in?%>
                                               <small>(<%=presentation.votes.count%> <%=t "votes"%>)</small>
      </li>
    <%end%>
  </ul>
  <p>
    <span class="a">
      <%=link_to t("talk.submit"), new_meetup_presentation_path(@meetup)%>
    </span>
  </p>
</div>

<div class="attendees_list">
  <h2>
    <%=t("meetup.attendees")%>
    <%if user_signed_in? and not @meetup.user_attends?(current_user)%>
      <%=link_to t("meetup.attend")+'!',  meetup_attend_path(@meetup) %>
    <%end%>
  </h2>
  <ul class="attendees">
    <%@meetup.attendees.each do |user|%>
      <li>
        <%=image_tag user.account.gravatar, :size => "32x32"%>
        <%=link_to user.account.name, user.account.url%> &lt;<%=user.email%>&gt;
        <br/>
        <%=raw t("meetup.attendance", :status => "<u>"+(@meetup.user_attends?(user) ? t("meetup.attend_small") : t("meetup.not_attend"))+"</u>")%>
      </li>
    <%end%>
  </ul>
  <br/>
  <h2><%=t "timeline.name"%></h2>
  <div class="wall">
      <%=form_for @meetup.timelines.new do |f|%>
        <%=f.hidden_field :meetup_id, :value => @meetup.id%>
        <%=f.text_area :message%>
        <%=f.submit t("timeline.post")%>
      <%end if user_signed_in?%>
      <ul class="presentations" id="timeline">
      <%@meetup.timelines.each do |msg|%>
        <li>
          <%=image_tag msg.user.account.gravatar, :size => "32x32"%>
          <%=link_to msg.user.account.name, msg.user.account.url%>
          <%=msg.message%> <small>(<%=distance_of_time_in_words(Time.now, msg.created_at)%> ago)</small>
        </li>
      <%end%>
    </ul>
  </div>
</div>
